.contain-clock {
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 15px;
    width: 450px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    color: #faf0e6;
    align-items: center;
}

.contain-clock #hour {
    font-size: 50px;
    color: #faf0e6a2;
    margin-bottom: 10px
} 

.contain-clock #date {
    font-size: 20px;
    color: #faf0e6a2;
    margin-bottom: 20px;
} 

@media screen and (max-width: 550px) {
    .contain-clock {
        max-width: 300px;
    }
    .container {
        margin-top: 200px;
    }
}