@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* */
/* En pantalla de mas de 1200px poner en dos columnas*/
body {
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.icon {
    filter: invert(91%) sepia(2%) saturate(2033%) hue-rotate(340deg) brightness(110%) contrast(90%); 
	padding: 0px 10px;
}
a .icon {
    cursor: pointer;
}
h1 {
    color: #faf0e6;
    font-size: 30px;
    padding: 20px 0px;
    display: flex;
    gap: 10px;
}

.links-footer {
    border-bottom: 1px solid #faf0e6;
    display: flex;
    justify-content: start;
    min-width: 50%;
    gap: 10px;
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}
main {
    display: flex;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 50%;
}
.left {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    width: 50%;
}

.contain-clock {
	background-color: transparent;
    height: 80px;
}

@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }
    footer .links-footer {
        position: fixed;
        bottom: 40px;
        background-color: rgba(0, 0, 0, 0.28);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    body {
        width: 100%;
        background-size: contain;
        background-color: black;
    }
    .left {
        display: flex;
        margin-top: 80px;
        align-items: center;
        width: 80%;
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding-top: 50px;
        width: 80%;
    }
    .container-weather {
        max-width: 300px;
    }
    .container-weather #contain-weather {
      padding: 0px;
    }
    .container-weather #contain-weather .condition-now {
        padding: 0px;
        gap: 0px;
    }
    #contain-weather .temperature{
        font-size: 30px;
    }
    #contain-weather .temperature img{
        font-size: 10px;
    }
   
}


@media screen and (max-width: 1200px) and (min-width: 800px) {
    
    footer .links-footer {
        position: fixed;
        right: 500px;
        bottom: 10px;
        justify-content: end;
        background-color: rgba(0, 0, 0, 0.28);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    body {
        width: 100%;
        background-size: cover;
        background-color: black;
    }
    body main .left {
        display: inherit;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        margin-right: 20px;
        width: 80%;
    }
    .container-clock {
        position: absolute;
        left: 70px;
        top: 30px;
    }
    .container {
        margin-top: 200px;
    }
    .container-links {
        max-width: 350px;
    }
    .contain-links {
        width: 100%;
    }
    .container-links .icon {
        height: 35px;
    }
    .container-weather {
        max-width: 350px;
    }
    .container-weather #contain-weather {
        padding: 20px;
    }
    .container-weather #contain-weather .condition-now {
        padding: 0px;
        gap: 0px;
    }
    #contain-weather .temperature{
        font-size: 30px;
    }
    #contain-weather .temperature img{
        font-size: 10px;
    }
    .container-password {
        max-width: 350px;
    }
    .contain-password {
        width: calc(100% - 40px);
    }
    .container-password .icon {
        height: 35px;
    }
    .container h1 {
        gap: 0px;
    }
    .container {
        margin-top: 200px;
    }


}